#list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.purpose {
  width: 20%;
}

#pic {
  width: 35%;
  margin-top: 1em;
}

#outer {
  display: flex;
  border-top: 1px solid black;
}

#inner {
  flex-grow: 1;
}

@media (max-width: 950px) {
  #list {
    flex-wrap: wrap;
  }

  .purpose {
    width: 40%;
    margin-top: 10px;
  }

  #first {
    margin: 0;
  }
}

@media (max-width: 600px) {
  #list {
    flex-direction: column;
  }

  .purpose {
    width: 100%;
    margin: 0;
  }

  #outer {
    flex-wrap: wrap;
  }

  #pic {
    width: 60%;
    margin-top: 0;
  }

  #outer {
    padding: 0;
  }
}