body, html {
  height: 100%;
}

main {
  height: 75%;
}

#list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.purpose {
  width: 20%;
}

#pic {
  height: 100%;
  margin-top: 1em;
  margin-bottom: 10px;
  padding-left: 10px;
}

#lower {
  height: 50%;
  display: flex;
  border-top: 1px solid black;
}

#lower-left {
  flex-grow: 1;
}

@media (max-width: 950px) {
  #list {
    flex-wrap: wrap;
  }

  .purpose {
    width: 40%;
    margin-top: 10px;
  }

  #first {
    margin: 0;
  }
}

@media (max-width: 600px) {
  #list {
    flex-direction: column;
    padding-left: 20px;
  }

  .purpose {
    width: 100%;
    margin: 0;
  }

  #lower {
    flex-wrap: wrap;
    padding: 0;
  }

  #pic {
    width: 60%;
    height: auto;
    margin-top: 0;
    padding: 0;
  }
}