main {
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  font-size: 20pt;
}

.pic {
  width: 40%;
  margin: 10px;
}

.left {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .pic {
    width: 50%;
  }

  .flex {
    font-size: 16pt;
  }
}

@media (max-width: 550px) {
  .flex {
    font-size: 12pt;
  }
}