main {
  margin: 0;
}

h3 {
  display: flex;
  justify-content: center;
}

.board-members {
  display: flex;
  flex-direction: column;
  font-size: 20pt;
}

.pic {
  width: 40%;
  margin: 0 10px 10px;
}

.left {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .pic {
    width: 50%;
  }

  .board-members {
    font-size: 16pt;
  }
}

@media (max-width: 550px) {
  .board-members {
    font-size: 12pt;
  }
}