.flex {
  display: flex;
  flex-direction: column;
  font-size: 20pt;
}

.pic {
  width: 40%;
  margin: 10px;
}
/* 
.title {
  margin-right: 10px;
} */

/* .board {
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: large;
  justify-content: flex-end;
} */

/* .title {
  flex-grow: 1;
} */

.left {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}