html, body, main {
  height: 100%;
}

main {
  height: 75%;
  margin-right: 0;
}

h3 {
  margin: 0;
}

label, input, textarea {
  display: block;
  margin-bottom: 10px;
}

textarea, input {
  max-width: 98%;
}

.image {
  height: 100%;
  margin-right: 1em;
}

#contact {
  height: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .image {
    display: none;
  }
}