h3 {
 margin: 30px;
 display: flex;
 justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

main > ul {
  margin: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
}

.date {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > ul > li {
  margin-top: 5%;
  /* max-height: 500px; */
}

.pic {
  /* display: flex; */
  height: 500px;
}

/* .right {
  margin-right: 5px;
}

.left {
  margin-left: 5px;
} */

#feb12 {
  margin: 0;
  background-color: lightblue;
}

#feb26 {
  background-color: lightpink;
}

#mar11 {
  background-color: green;
}

#apr1 {
  background-color: orange;
}

#apr29 {
  background-color: limegreen;
}

#may13 {
  background-color: firebrick;
}

/* @media (max-width: 1050px) {
  main > ul > li {
    max-height: 300px;
  }
} */

@media (max-width: 900px) {
  .date {
    width: 40%;
  }

  .pic {
    height: 400px;
  }
}

@media (max-width: 650px) {
  .date {
    width: 70%;
  }

  .pic {
    height: 300px;
  }
}

@media (max-width: 550px) {
  .pic {
    height: 200px;
  }
}

@media (max-width: 450px) {
  .date {
    width: 100%;
  }
}