h3 {
 margin-bottom: 30px;
 display: flex;
 justify-content: center;
}

#location {
  display: flex;
  justify-content: center;
}

main > ul {
  margin: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
}

.date {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > ul > li {
  margin-top: 5%;
}

main > ul > li > img {
  height: 500px;
}

#feb12 {
  margin: 0;
  background-color: lightblue;
}

#feb26 {
  background-color: lightpink;
}

#mar11 {
  background-color: mediumseagreen;
}

#apr1 {
  background-color: darkkhaki;
}

#apr29 {
  background-color: mediumaquamarine;
}

#may13 {
  background-color: tomato;
}

@media (max-width: 900px) {
  .date {
    width: 40%;
  }

  main > ul > li > img {
    height: 400px;
  }
}

@media (max-width: 650px) {
  .date {
    width: 70%;
  }

  main > ul > li > img {
    height: 300px;
  }
}

@media (max-width: 550px) {
  main > ul > li > img {
    height: 200px;
  }
}

@media (max-width: 450px) {
  .date {
    width: 100%;
  }
}