body, html {
  height: 100%;
  width: 100%;
}

main {
  height: 80%;
  margin-right: 10px;
  object-fit: contain;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

#pictures {
  margin: 10px 0;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.slides {
  
 
  max-width: 90%;
  max-height: 100%;
  width: auto;
  height: auto;
}