body {
  background-color: lavender;
  margin: 0;
}

html {
  margin: 0;
}

h1 {
  font-family: sans-serif;
  background-color: mediumpurple;
  color: white;
  padding: 15px;
  margin: 0;
  border-bottom: white 2px solid;
}

nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  background-color: mediumpurple;
  margin: 0;
  margin-bottom: 10px;
}

nav li {
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  border-left: white 1px solid;
  margin: 0;
}

nav {
  margin: 0;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a.active {
  text-decoration: underline;
  color: black;
}

.active-page {
  background-color: indigo;
}

.flex {
  display: flex;
  flex-direction: column;
}

.pic {
  width: 50%;
  margin-right: 10px;
  flex-grow: 1;
}

.board {
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: large;
}

.title {
  flex-grow: 1;
}

.main_img {
  display: flex;
  justify-content: center;
  align-items: center;
}